/* 
    General Styles
*/

.navbar{
    img{
        height: 50px;
        width: 90px;
        padding-left: 20px;
    }
}
h2{
    color: rgb(161, 12, 12);
}

.top-left{
    padding-left: 100px;
    img{
        height: 500px;
        width: 400px
    }
}

